<form class="container" id="register-form">
    <h3>User Registration</h3>
    
    
    <label for="registerUsername">Username:</label>
    <input name="registerUsername" type="text" ng-model="registerUsername" />

    <label for="registerPassword">Password:</label>
    <input name="registerPassword" type="password" ng-model="registerPassword" />
    
    <label for="registerPasswordConfirm">Confirm Password:</label>
    <input name="registerPasswordConfirm" type="password" ng-model="registerPasswordConfirm" />

    <label for="registerName">Name:</label>
    <input name="registerName" type="text" ng-model="registerName" />

    <label for="registerPhone">Phone:</label>
    <input name="registerPhone" type="text" ng-model="registerPhone" />

    <label for="registerEmail">Email:</label>
    <input name="registerEmail" type="email" ng-model="registerEmail" />
        
    <label for="registerTown">Town:</label>
    <select name="registerTown">
        <option>Town1</option>
        <option>Town2</option>
    </select>

    <input type="submit" value="Register" class="button" ng-click="attemptLogin()" />
    <a href="#/login">Login here</a>
</form>