<link href="../styles/user-ads-publish-styles.css" rel="stylesheet" />
<form id="publish-ad-form" class="container" ng-submit="attemptPublish()">
    <h3>Publish New Ad</h3>

    <div id="imagePreview">
        <img id="newAdImageThumbnail" />
        <input type="file" name="newAdImage" value="Browse" class="button" ng-model="newAdImage" />
    </div>

    <div class="input-field">
        <label for="newAdTitle">Title:</label>
        <input type="text" name="newAdTitle" ng-model="newAdTitle" />
    </div>

    <div class="input-field">
        <label for="newAdText">Text:</label>
        <textarea name="newAdText" ng-model="newAdText"></textarea>
    </div>

    <div class="input-field">
        <label for="newAdImagePath">Image:</label>
        <input type="text" name="newAdImagePath" ng-model="newAdImagePath" />
    </div>

    <div class="input-field">
        <label for="newAdCategory">Category:</label>
        <select name="newAdCategory" ng-model="newAdCategory">
            <option value="1">Cars</option>
            <option value ="2">asd</option>
            <option value="3">asd</option>
            <option value="4">asd</option>
        </select>
    </div>

    <div class="input-field">
        <label for="newAdTown" ng-model="newAdTown">Town:</label>
        <select id="newAdTown">
            <option value="1">Plovdiv</option>
            <option value="2">asd</option>
            <option value="3">asd</option>
            <option value="4">asd</option>
        </select>
    </div>



    <div class="input-field">
        <input class="button" type="submit" value="Publish" />
        <a class="button" href="#/user/home">Cancel</a>
    </div>
</form>