<link href="../styles/user-ads-publish-styles.css" rel="stylesheet" />
<form id="publish-ad-form" class="container" ng-submit="attemptPublish()">
    <h3>Publish New Ad</h3>

    <div id="imagePreview">
        <img id="newAdImageThumbnail" />
        <input type="file" name="newAdImage" value="Browse" class="button" ng-model="newAdImage" />
    </div>

    <div class="input-field">
        <label for="newAdTitle">Title:</label>
        <input type="text" name="newAdTitle" ng-model="newAdTitle" />
    </div>

    <div class="input-field">
        <label for="newAdText">Text:</label>
        <textarea name="newAdText" ng-model="newAdText"></textarea>
    </div>

    <div class="input-field">
        <label for="newAdCategory">Category:</label>
        <select name="newAdCategory" ng-model="newAdCategory">
            <option ng-repeat="category in categories track by $index" value="{{category.id}}">
                {{category.name}}
            </option>
        </select>
    </div>

    <div class="input-field">
        <label for="newAdTown" ng-model="newAdTown">Town:</label>
        <select name="newAdTown" ng-model="newAdTown">
            <option ng-repeat="town in towns track by $index" value="{{town.id}}">
                {{town.name}}
            </option>
        </select>
    </div>



    <div class="input-field">
        <input class="button" type="submit" value="Publish" />
        <a class="button" href="#/user/home">Cancel</a>
    </div>
</form>