<link href="../styles/user-ads-page-styles.css" rel="stylesheet" />
<aside class="container" id="myAds">
    <h3>My Ads</h3>
    <ul>
        <li>
            All
        </li>
        <li>
            Published
        </li>
        <li>
            Waiting Approval
        </li>
        <li>
            Inactive
        </li>
    </ul>
</aside>

<div id="userAds-field">
    <div ng-repeat="ad in userAds" class="userAd container">
        <div id="adState">
            <label for="adStatus">Status:</label>
            <input type="text" name="adStatus" disabled="" value="{{ad.status}}" />
            <button ng-hide="ad.status == 'Inactive'" class="button" ng-click="deactivateAd(ad.id)">Deactivate</button>
        </div>
        
        <div id="adMain">
            <h3 id="adTitle">{{ad.title}}</h3>
            <span id="adDate">{{ad.date | date:'short'}}</span>
            <textarea id="adText" disabled="">{{ad.text}}</textarea>

            <img id="adImage" src="{{ad.imageDataUrl}}" />

            <div id="adInfo">
                <div class="info-field">
                    <label for="adCategory">Category</label>
                    <input type="text" name="adCategory" disabled="" value="{{ad.categoryName}}" />
                </div>

                <div class="info-field">
                    <label for="adTown">Town:</label>
                    <input type="text" name="adTown" disabled="" value="{{ad.townName}}" />
                </div>
            </div>
        </div>
    </div>
</div>
