<link href="../../styles/admin-towns-styles.css" rel="stylesheet" />
<div>
    <table id="towns-table">
        <thead>
            <tr>
                <th>Town</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="town in towns">
                <td class="townName">{{town.username}}</td>
                <td>
                    <a href="#/admin/towns/edit/{{town.id}}">Edit</a>
                    <a href="#/admin/towns/delete/{{town.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="btnField">
        <button class="button" id="newTownBtn" ng-click="create()">Create New Town</button>
    </div>
</div>