<link href="../../styles/admin-ads-styles.css" rel="stylesheet" />
<div id="ads-field">
    <div ng-repeat="ad in ads" class="ad container">
        <h3 id="adTitle">{{ad.title}}</h3>
        <span id="adDate">{{ad.date | date:'short'}}</span>
        <textarea id="adText" disabled="">{{ad.text}}</textarea>

        <img id="adImage" src="{{ad.imageDataUrl}}" />

        <div id="userInfo">
            <div class="info-field">
                <label for="ownerUsername">Username:</label>
                <input type="text" name="ownerUsername" disabled="" value="{{ad.ownerUsername}}" />
            </div>

            <div class="info-field">
                <label for="ownerName">Name:</label>
                <input type="text" name="ownerName" disabled="" value="{{ad.ownerName}}" />
            </div>

            <div class="info-field">
                <label for="ownerEmail">Email:</label>
                <input type="email" name="ownerEmail" disabled="" value="{{ad.ownerEmail}}" />
            </div>

            <div class="info-field">
                <label for="ownerPhone">Tel.</label>
                <input type="text" name="ownerPhone" disabled="" value="{{ad.ownerPhone}}" />
            </div>
           
            <div class="info-field">
                <label for="categoryName">Category:</label>
                <input type="text" name="categoryName" disabled="" value="{{ad.categoryName}}" />
            </div>

            <div class="info-field">
                <label for="townName">Town:</label>
                <input type="text" name="townName" disabled="" value="{{ad.townName}}" />
            </div>
        </div>
        
        <div id="admin-ad-buttons">
            <input type="text" name="adStatus" disabled="" value="{{ad.status}}"/>
            <button type="button" class="button" ng-hide="ad.status == 'Published'" ng-click="approveAd(ad.id)">Approve</button>
            <button type="button" class="button" ng-click="editAd(ad.id)">Edit</button>
            <button type="button" class="button" ng-click="deleteAd(ad.id)">Delete</button>
        </div>
    </div>

    <div id="pagination">
        <button ng-click="goToFirstPage()" class="paginationBtn">First</button>
        <button ng-click="onePageBack() " class="paginationBtn">Previous</button>
        <ul>
            <li class="paginationBtn"
                ng-repeat="page in pages"
                ng-click="goToPage(page.pageNumber)"
                ng-class="{activePage:isActivePage(page.pageNumber)}">
                {{page.title}}
            </li>
        </ul>
        <button ng-click="onePageForward()" class="paginationBtn">Next</button>
        <button ng-click="goToLastPage()" class="paginationBtn">Last</button>
    </div>
</div>

<div id="filters">
    <aside class="container" id="aside-categories">
        <h3>Categories</h3>
        <ul>
            <li ng-class="{activeCategory:isActiveCategory(''),category:true}" ng-click="filterByCategory('')">
                <h4>All</h4>
            </li>
            <li ng-repeat="category in categories" ng-click="filterByCategory(category.id)" ng-class="{activeCategory:isActiveCategory(category.id),category:true}">
                <h4>{{category.name}}</h4>
            </li>
        </ul>
    </aside>

    <aside class="container" id="aside-towns">
        <h3>Towns</h3>
        <ul>
            <li ng-class="{activeTown:isActiveTown(''),town:true}" ng-click="filterByTown('')">
                <h4>All</h4>
            </li>
            <li ng-repeat="town in towns" ng-click="filterByTown(town.id)" ng-class="{activeTown:isActiveTown(town.id),town:true}">
                <h4>{{town.name}}</h4>
            </li>
        </ul>
    </aside>

    <aside class="container" id="aside-filter-status">
        <h3>Ads</h3>
        <ul>
            <li ng-repeat="filter in adsFilters"
                ng-class="{activeStatus:isActiveStatus(filter.title)}"
                ng-click="filterByStatus(filter)">
                {{filter.title}}
            </li>
        </ul>
    </aside>
</div>