#categories-table {
    margin: 0 auto;
}

#categories-table th, td {
    background-color: rgb(197, 224, 180);
    border: 1px solid rgb(0, 116, 0);
    padding: 5px;
    box-shadow: 0px 1px 1px 1px rgb(179, 179, 179);
}

#categories-table .categoryName{
    padding-right: 100px;
}

#newCategoryBtn {
    margin: 0 auto;
}

#btnField {
    margin-top: 20px;
    text-align: center;
}
