#delete-category {
    width: 500px;
    margin: 0 auto;
}

#delete-category h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    text-align: center;

}

#delete-category label, input, .button {
    margin: 10px;
}

#delete-category label, input {
    display: block;
}

#delete-category input {
    height: 30px;
    width: 200px;
}

#buttons {
    display: block;
    text-align: center;
}