.button {
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(81, 135, 102);
    text-shadow: 0px 1px 3px #000000;
    background-color: rgb(112, 173, 71);
}

.button:hover {
    background-color: rgb(255, 198, 36);
}

#aside-actions .button {
    margin: 15px;
    display: block;
}

#aside-categories .category {
    padding: 10px;
}

#aside-categories .category h4 {
    margin: 0px;
}

#aside-categories .category:hover {
    background-color: rgb(104, 153, 56);
}

#aside-categories .activeCategory {
    background-color: rgb(248, 211, 30);
    border: 1px solid rgb(188, 162, 35);
}

#aside-towns .town {
    padding: 10px;
}

#aside-towns .town h4 {
    margin: 0px;
}

#aside-towns .town:hover {
    background-color: rgb(104, 153, 56);
}

#aside-towns .activeTown {
    background-color: rgb(248, 211, 30);
    border: 1px solid rgb(188, 162, 35);
}

#aside-filter-status ul {
    height: 150px;
    overflow: auto;
    list-style: none;
    padding: 0px;
}

#aside-filter-status h4 {
    margin: 0px;
}

#aside-filter-status ul li {
    display: block;
    padding: 15px;
    margin: 5px;
}

#aside-filter-status ul li:hover {
    background-color: rgb(68, 137, 68);
}

#aside-filter-status .activeStatus {
    background-color: rgb(248, 211, 30);
    border: 1px solid rgb(188, 162, 35);
}