#myAds {
    float: left;
    display: block;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

#myAds h3 {
    text-align: center;
    margin-top: 0px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

#myAds ul {
    padding: 0px;
}

#myAds ul li {
    display: block;
    padding: 15px;
    margin: 5px;
}

#myAds ul li:hover {
    background-color: rgb(68, 137, 68);
}

#myAds ul .activeFilter {
    background-color: #f8c032;
    border: 1px solid #805f0b;
    color: #ffffff;
}
